<!-- <app-home></app-home>
<app-navbar></app-navbar>
<app-sidbar></app-sidbar> -->

<div class="page">

    <div class="sideBar">

        <a href="#"> <i class="fa-solid fa-droplet drop_water sideIcon"></i> </a>

        <div class="icons">

            <a href="#"> <i class="fa-solid fa-dice-d20 control_room sideIcon"></i> </a>
            <a href="#"> <i class="fa-solid fa-house sideIcon"></i> </a>
            <a href="#"> <i class="fa-solid fa-layer-group sideIcon"></i> </a>
            <a href="#"> <i class="fa-solid fa-gear sideIcon"></i> </a>
            <a href="#"> <i class="fa-solid fa-bell sideIcon"></i> </a>

        </div>

        <a href="#"> <i class="fa-solid fa-arrow-right-from-bracket log_out sideIcon"></i> </a>

    </div>


    <div class="content">

        <div class="navbar">

            <div class="info1 mx-2">
          <h5><span> <i class="fa-solid fa-circle mx-1"></i> <i class="fa-brands fa-watchman-monitoring"></i></span> 
            2/3 <span>monitored stations </span></h5>
            </div>

            <div class="info2 mx-2">
                <h5><span> <i class="fa-solid fa-circle mx-1"></i> <i class="fa-solid fa-arrow-rotate-right"></i></span> 20S <span> Last Update </span></h5>
                  </div>

                  <div class="period mx-2">
                      <a href="#">Today</a>
                      <a href="#">Yesterday</a>
                      <a href="#">LastWeek</a>
                  </div>

                  <form action="" class="dateForm d-flex" >
                      <div class="start d-flex fs-4 mx-2">
                        <i class="fa-solid fa-caret-right"></i>
                      <input type="datetime-local" placeholder="start date-time" class="form-control date">
                      </div>
                      <div class="end d-flex fs-5 mx-2">
                        <i class="fa-solid fa-stop"></i>
                        <input type="datetime-local" placeholder="End date-time" class="form-control date">
                      </div>
                  </form>



        </div>

    </div>




</div>